<div class="course-item flex-row">
<div class="mr-auto">
  <div>
      <h5 class="card-title">{{course.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{course.durationMin + ' min'}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{course.creationDate | date}}</h6>
  </div>
  <p class="card-text">{{course.description}}</p>
</div>
<div class="d-flex flex-column align-items-center">
  <button class="btn btn-outline-primary col-sm mb-1" type="button">Edit</button>
  <button (click)="deleteCourseHandler()" class="btn btn-outline-dark col-sm" type="button">Delete</button>
</div>  
</div>