<form (ngSubmit)="save()" [formGroup]="updateCourseForm" novalidate>
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" name="title" formControlName="title">
        <small class="text-danger" *ngIf="!updateCourseForm.controls.title.valid && updateCourseForm.controls.title.touched">
            The title must contain between 1 and 50 characters
        </small>
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" rows="4" id="description" name="decription" formControlName="description"></textarea>
        <small class="text-danger" *ngIf="!updateCourseForm.controls.description.valid && updateCourseForm.controls.description.touched">
            The description must contain less than 500 characters
        </small>
    </div>
    <div class="form-group">
        <label for="date">Date:</label>
        <input type="date" class="form-control" id="date" name="date" formControlName="date" appDateValidator>
        <small class="text-danger" *ngIf="!updateCourseForm.controls.date.valid && updateCourseForm.controls.date.touched">
            Date format should be dd/MM/yyyy
        </small>
    </div>
    <div class="form-group">
        <label for="duration">Duration:</label>
        <input type="number" class="form-control" id="duration" name="duration" formControlName="duration" appDurationValidator>
        <small class="text-danger" *ngIf="!updateCourseForm.controls.duration.valid && updateCourseForm.controls.duration.touched">
            The value must be a non-negative integer
        </small>

    </div>
    <div class="form-group">
        <label for="authors">Authors:</label>
        <input type="text" class="form-control" id="authors" name="authors" formControlName="authors">
    </div>
    <div class="form-group">
        <button class="btn btn-primary mr-1" type="submit" [disabled]="!updateCourseForm.valid">Save</button>
        <button class="btn btn-secondary" (click)="close()">Cancel</button>
    </div>
</form>